
.menu-container {
    margin-left: 15vh;
    margin-top: 10px;
}
.table-tree-container {
    margin-top: 30px;
    
    display: flex ;
    align-items: center;
    /* width: calc(40%-10px); */
    flex-wrap: wrap;
    width: 100%;
    gap: 1px;
}
.category-tilte h3{
    font-size: 35px;
    color: var(--primary-color-3);
    /* margin-left: 15vh; */
    margin-top: 50px;
}
.menu-container h4 {
    margin-left: 60vh;
    margin-top: 20px;
    font-size: 30px;
}
.menu-container h4:hover {
    color: var(--primary-color-3);
    cursor: pointer;
}


@media (max-width: 1050px) {
    .menu-container {
        margin-left: 50px;
    }
  
    .table-tree-container {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .list-card {
        margin-top: 30px;
        margin-left: 1vh;
        display: flex;
        align-items: center;
        /* flex: calc(15% - 10px);  */
    }
    .category-tilte h3{
        margin-top: 40px;
        font-size: 35px;
        /* margin-left: 5vh; */
    }
    .menu-element p{
        font-size: 30px;
        margin-top: 0px;
        margin-left: 80vh;
    }
    .menu-element:hover{
        color: rgba(206, 219, 16, 0.884);
        cursor: pointer;
    }
}
@media (min-width: 501px) and (max-width: 768px) {
   
    .table-tree-container {
        margin-top: 20px;
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .list-card {
        margin-top: 30px;
        margin-left: 1vh;
        display: flex;
        align-items: center;
        flex: 0 0 calc(20% - 10px); 
    }
    .category-tilte h3{
        margin-top: 40px;
        font-size: 35px;
        /* margin-left: 15vh; */
    }
    .menu-element p{
        font-size: 30px;
        margin-top: 0px;
        margin-left: 80vh;
    }
    .menu-element:hover{
        color: rgba(206, 219, 16, 0.884);
        cursor: pointer;
    }
}
@media   (max-width: 500px) {
   
    .table-tree-container {
        margin-top: 20px;
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .list-card {
        margin-top: 30px;
        margin-left: 1vh;
        display: flex;
        align-items: center;
        flex: 0 0 calc(48% - 10px); 
    }
    .category-tilte h3{
        margin-top: 40px;
        font-size: 25px;
        margin-left: 10px;
    }
    .menu-element p{
        font-size: 30px;
        margin-top: 0px;
        margin-left: 10px;
    }
    .menu-element:hover{
        color: rgba(206, 219, 16, 0.884);
        cursor: pointer;
    }
}