.menu-container {
    margin-left: 15vh;
    margin-top: 200px;
}
.menu-container h3{
    font-size: 35px;
    margin-left: 5vh;
    color: var(--primary-color-3);
}
.menu-list-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}
.menu-list-category li{
    margin-right: 20px;
    font-size: 20px;
}
.menu-list-category li:hover{
    cursor: pointer;
    color: var(--primary-color-3);
}